In [1]:
import xarray as xr

In [2]:
b = xr.open_dataset('/home/ec2-user/SageMaker/datalake/notebooks/utils/data/temporal/Solar-Radiation-Flux_C3S-glob-agric_AgERA5_20230408_final-v1.0.nc')

In [4]:
c = b.to_dataframe()

In [6]:
c[c['Solar-Radiation-Flux']>0]

                                   Solar-Radiation-Flux
time       lat        lon
2023-04-08 -49.975001 -75.724998             3280107.75
                      -75.674998             3273755.50
                      -75.624998             3261051.50
                      -75.574998             3151049.50
                      -75.524998             2943761.50
...                                                 ...
            49.975000  156.025005            2277218.00
                       156.075005            2274363.00
                       156.125005            2274820.75
                       156.175005            2278590.25
                       156.225005            2280474.50

[4025360 rows x 1 columns]